@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  min-height: 100vh;
  background: #2c3032;
}

.navigation {
  position: relative;
  background: #191b1c;
  width: 70px;
  box-shadow: 10px 0 0 #037a17;
  border-left: 10px solid #191b1c;
  overflow-x: hidden;
  transition: 1s;
  justify-content: center;
  align-items: center;
  display: flex;
  z-index: 3;
}

.navigation:hover {
  width: 300px;
}

.navigation ul {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding-left: 5px;
  padding-top: 40px;
}

.navigation ul li {
  position: relative;
  list-style: none;
  width: 100%;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.navigation ul li a {
  position: relative;
  display: flex;
  width: 100%;
  text-decoration: none;
  color: white;
}

.navigation ul li a .icon {
  position: relative;
  display: block;
  min-width: 60px;
  height: 60px;
  text-align: center;
  line-height: 70px;
}

.navigation ul li a .icon ion-icon {
  position: relative;
  font-size: 1.5rem;
  z-index: 1;
}

.navigation ul li a .tittle {
  position: relative;
  display: block;
  padding-left: 10px;
  height: 60px;
  line-height: 60px;
  white-space: nowrap;
}

.navigation ul li.active {
  background: #037a17;
}

.navigation ul li.active a::before {
  content: "";
  position: absolute;
  top: -30px;
  right: 0;
  width: 30px;
  height: 30px;
  background: 424242 50%;
  border-radius: 50%;
  box-shadow: 15px 15px 0 #037a17;
}

.navigation ul li.active a::after {
  content: "";
  position: absolute;
  bottom: -30px;
  right: 0;
  width: 30px;
  height: 30px;
  background: 424242 50%;
  border-radius: 50%;
  box-shadow: 15px -15px 0 #037a17;
}

button[type="submit"] {
  padding: 8px 16px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-top: 5%;
  margin-left: 5%;
}

button[type="submit"]:hover {
  background-color: #3e8e41;
}

.token-list {
  margin-top: 5%;
  padding: 0 20px;
  margin-left: 2%;
  margin-bottom: 5%;

}

.token-list ul {
  list-style: none;
  background: #fff;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  width: 650px;

}

.token-list li {
  font-size: 12px;
  color: #333;
  word-wrap: break-word;
  display: block;
}

.form {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  margin-left: 5%;
  color: white;
  width: 600px;
}

.form-header {
  display: flex;
  justify-content: space-between;
}
.form-header h1::after {
  content: "";
  display: block;
  width: 5rem;
  height: 0.3rem;
  background-color: #037a17;
  margin: 0 auto;
  position: absolute;
  border-radius: 10px;
}

.informativo {
  color: #bbbbbb;
  font-size: 0.7rem;
  margin-block-start: 1rem;
}