<!DOCTYPE html>
<html lang="pt-br">
   <html>
      <head>
         <meta charset="UTF-8">
         <meta http-equiv="X-UA-Compatible" content="IE=edge">
         <meta name="viewport" content="width=device-width, inicial-scale=1.0">
         <title>Dashboard</title>
         <link rel="stylesheet" href="/css/entrancesandexits.css"/>
      </head>
      <body>
         <div class="navigation">
            <ul>
               <li class="list ">
                  <a href="/">
                     <span class="icon">
                        <ion-icon name="home-outline"></ion-icon>
                     </span>
                     <span class="tittle">Home</span>
                  </a>
               </li>
               <li class="list active">
                  <a href="/entrancesandexits">
                     <span class="icon">
                        <ion-icon name="podium-outline"></ion-icon>
                     </span>
                     <span class="tittle">Relatórios</span>
                  </a>
               </li>
               <li class="list">
                  <a href="/userslist">
                     <span class="icon">
                        <ion-icon name="people-outline"></ion-icon>
                     </span>
                     <span class="tittle">Usuários</span>
                  </a>
               </li>
               <li class="list">
                  <a href="/productslist">
                     <span class="icon">
                        <ion-icon name="bag-outline"></ion-icon>
                     </span>
                     <span class="tittle">Produtos</span>
                  </a>
               </li>
               <li class="list">
                  <a href="/cart">
                     <span class="icon">
                        <ion-icon name="card-outline"></ion-icon>
                     </span>
                     <span class="tittle">Realizar Vendas</span>
                  </a>
               </li>
               <li class="list">
                  <a href="/api">
                     <span class="icon">
                        <ion-icon name="settings-outline"></ion-icon>
                     </span>
                     <span class="tittle">API</span>
                  </a>
               </li>
               <li class="list-logout">
                  <a href="/logout">
                     <span class="icon">
                        <ion-icon name="log-out-outline"></ion-icon>
                     </span>
                     <span class="tittle">Sair</span>
                  </a>
               </li>
            </ul>
         </div>
      <!-- CONFIGURAÇÃO DO TITULO-->
      <div class="form">
         <form action="/cart" method="post" class="search">
            <div class="form-header">
               <div class="tittle_product">
                  <h1><ion-icon name="cash-outline"></ion-icon> Entrada e saída de capital.</h1>
               </div>
            </div>
      <div class="buttons">
      <a href="/entrances" class="redirect"><ion-icon name="trending-up-outline"></ion-icon> Entradas</a>
      <a href="/exits" class="redirect"><ion-icon name="trending-down-outline"></ion-icon> Saídas</i></a>
      <a href="/entrancesandexitsdatails" class="redirect"><ion-icon name="analytics-outline"></ion-icon> Detalhes</a>
      </div>

      <div class="form-header">
         <div class="tittle_product">
            <h1><ion-icon name="storefront-outline"></ion-icon> Vendas</h1>
         </div>
      </div>
      <a href="/sales" class="redirect"><ion-icon name="analytics-outline"></ion-icon> Relatório de vendas</a>


<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
<script>
    const list = document.querySelectorAll('.list');
    function activeLink(){
        list.forEach((item)=>{
            item.classList.remove('active')
        })
        this.classList.add('active')
    }
    list.forEach((item)=>{
        item.addEventListener('click', activeLink)
    })
 </script>
</body>
</html>