<html>
    <head>
        <title>Login</title>
        <link rel="stylesheet" href="/css/login.css"/>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bcryptjs/2.4.3/bcrypt.min.js"></script>
        <script>
            function encryptPassword() {
                var password = document.getElementById("password").value;
                var salt = bcrypt.genSaltSync(10);
                var hash = bcrypt.hashSync(password, salt);
                document.getElementById("password").value = hash;
            }
        </script>
    </head>
    <body>
            <section class="area-login">
                <div class="login">
                    <div>
                        <img src="/img/logo.png">
                    </div>
                    <form action="/login" method="POST" onsubmit="encryptPassword()">
                        <input type="email" name="email" id="email" placeholder="email@exemplo.com" required>
                        <input type="password" name="password" id="password" placeholder="**********" required>
                        <input type="submit" value="login">
                    </form>
                    <% if (info && info.message) { %>
                        <div class="error"><%= info.message %></div>
                      <% } %>
                      
                    <p>Não tem uma conta, peça para o administrador criar uma para você!</p>
                </div>
            </section>
    </body>
</html>
